/.idea
/venv
/Screen_settings/dist
/Screen_settings/build

Spectrum_docker/__pycache__/
Spectrum_docker/build
Spectrum_docker/dist
katex_sn/__pycache__/
katex_sn/build
katex_sn/dist


example*

exampl*.py
*.md
*.spec
*.tex
*.pdf
*.html
*.ttf`